@using Entity.User
@using Entity.Project
@using Web.Model
@using Platform.Extension
@using Web.Extension
@using Platform.Enum
@using Web.Constant

@{
    ViewBag.Title = "My TimeSheet";
    ViewData["ng-app"] = "myTimeSheet";
    var isGeLeader = this.IsGeLeader();
    var userId = ViewData["UserId"] as string;

    var pageSize = this.GetSessionValue(SessionKey.PAGE_SIZE);

    if (string.IsNullOrEmpty(pageSize))
    {
        pageSize = DefaultPreference.PAGE_SIZE.ToString();
    }
}

@section css {
    <link rel="stylesheet" href="~/lib/bootstrap-multiselect/dist/css/bootstrap-multiselect.css" />
    <link rel="stylesheet" href="~/css/timesheet/css" />
}

@section scripts {
    <script type="text/javascript" src="~/lib/angular-smart-table/dist/smart-table.js"></script>
    <script type="text/javascript">
        var _pageSize = @pageSize;
    </script>
    <script type="text/javascript" src="~/lib/bootstrap-multiselect/dist/js/bootstrap-multiselect.js"></script>
    <script type="text/javascript" src="~/js/timesheet/js" asp-append-version="true"></script>
}

@section breadcrumb{
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="#">TimeSheet</a></li>
            <li class="active">My TimeSheet</li>
        </ol>
    </div>
}

<div class="row">
    <div class="page-header">
        <h1>My TimeSheet</h1>
    </div>
</div>

@Html.Partial("~/Views/Shared/HeaderMessage.cshtml")

<div class="row" id="messageContainer">
</div>

@if (isGeLeader)
{
    <div class="row">
        <div class="pull-right bottom-margin"><a class="btn btn-default" href="~/TimeSheet/ManageTimeSheet">Manage TimeSheet</a></div>
    </div>
}

<div ng-controller="myTimeSheetCtrl" ng-cloak>
    <div class="row">
        <div class="col-md-12">
            <table st-table="rowCollection" class="table" st-set-filter="customFilter">
                <thead>
                    <tr>
                        <th>Week</th>
                        <th>Hours</th>
                        <th>Status</th>
                        <th>Return</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="4"><a ng-bind="searchText" ng-click="switchSearch()">Show Condition</a></td>
                    </tr>
                    <tr collapse="isCollapsed">
                        <td colspan="4">
                            <div class="row">
                                <st-date-range-alone predicate="Sunday" before="query.before" after="query.after"></st-date-range-alone>
                                <div class="col-md-1"><span class="searchLabel">Page size</span></div>
                                <div class="col-md-2">
                                    <input class="form-control" name="items" id="items" type="number" step="5" ng-model="itemsByPage" ng-blur="changeSize()">
                                </div>
                                <div class="col-md-1"><span class="searchLabel">Status</span></div>
                                <div class="col-md-2">
                                    <select class="form-control" multiple="multiple" id="status" ng-change="changeStatus()" ng-model="statuses">
                                        <option value="Pending">Pending</option>
                                        <option value="Ongoing">Ongoing</option>
                                        <option value="Done">Done</option>
                                    </select>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr ng-repeat="row in rowCollection" ng-show="row.IsShow">
                        <td>
                            <a ng-if="row.Status == '@Status.Done.ToString()'" href="~/TimeSheet/ReadTimeSheet?monday={{row.Monday | timesheetid | escape}}&userId=@Html.UrlEncoder.Encode(userId)">{{row.Text}}</a>
                            <a ng-if="row.Status != '@Status.Done.ToString()'" href="~/TimeSheet/EditTimeSheet?monday={{row.Monday | timesheetid | escape}}&userId=@Html.UrlEncoder.Encode(userId)">{{row.Text}}</a>
                        </td>
                        <td>{{row.WeekHours}}</td>
                        <td>{{row.Status}}</td>
                        <td><a ng-if="row.IsReturn" href="javascript:void(0)" ng-click="returnTimeSheet(row.Monday, '@userId')">Return</a></td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="4" class="text-right">
                            <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="10"></div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

@Html.Partial("~/Views/Shared/MultiHeaderMessage.cshtml")