@using Entity.User
@using Entity.Project
@using Web.Model
@using Platform.Extension
@using Platform.Enum
@using Web.Extension
@using Service.User

@{
    ViewBag.Title = "Manage TimeSheet";
    ViewData["ng-app"] = "manageTimeSheet";
}

@section css {
    <link rel="stylesheet" href="~/css/timesheet/timesheet.css" />
}

@section scripts{
    <script type="text/javascript" src="~/lib/bootbox.js/bootbox.js"></script>
    <script type="text/javascript" src="~/js/timesheet/managetimesheet.js"  asp-append-version="true"></script>
}

@section breadcrumb{
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="#">TimeSheet</a></li>
            <li class="active">Manage Timesheet</li>
        </ol>
    </div>
}

<div class="row">
    <div class="page-header">
        <h1>Manage timesheet</h1>
    </div>
</div>

@Html.Partial("~/Views/Shared/HeaderMessage.cshtml")

<div class="row" ng-controller="manageTimeSheetCtrl" ng-cloak>
    <div class="panel-group" id="userWeeks" role="tablist" aria-multiselectable="true">
            <div class="panel panel-info" ng-repeat="(userId, rows) in users">
                <!-- Default panel contents -->
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#userWeeks" ng-href="{{'#' + userId}}" aria-expanded="true" aria-controls="{{userId}}">
                            {{userId + "_" + names[userId]}}
                        </a>
                    </h4>
                </div>
                <div class="collapse in" id="{{userId}}">
                    <!-- Table -->
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Week</th>
                                <th>Hours</th>
                                <th>Status</th>
                                <th>Return</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="4"><a ng-bind="showText" ng-click="switchShowAll()">Show All</a></td>
                            </tr>
                            <tr ng-repeat="row in rows" ng-show="row.Status !== 'Done' || currentTextIndex === 1">
                                <td>
                                    <a ng-href="{{'TimeSheet/' + row.Status === 'Done' ? 'Read' : 'Edit' + 'TimeSheet?monday=' + utility.getTimeSheetId(row.Monday) + '&userId=' + userId}}">{{row.Text}}</a>
                                </td>
                                <td>{{row.WeekHours}}</td>
                                <td>{{row.Status}}</td>
                                <td>
                                    <a class="return" href="javascript:void(0)" data-monday="{{utility.getTimeSheetId(row.Monday)}}" data-userId="{{userId}}" ng-if="row.IsReturn">Return</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
    </div>
</div>