<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
        Personal <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li><a asp-controller="User" asp-action="Index">User</a></li>
        <li><a asp-controller="Department" asp-action="Index">Department</a></li>
        <li><a asp-controller="Media" asp-action="Index">Media</a></li>
    </ul>
</li>