<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
        Project <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li><a asp-controller="Project" asp-action="Index">Project</a></li>
        <li><a asp-controller="Project" asp-action="Project">Add Project</a></li>
        <li><a asp-controller="Project" asp-action="TaskTemplate">Task Template</a></li>
    </ul>
</li>