<div class="row">
    <div class="col-md-2">
        <input type="text" class="form-control taskName" title="{{task.Name}}" ng-model="task.Name" disabled />
    </div>
    <div class="col-md-2">
        <input type="text" class="form-control" value="{{phases[task.Phase]}}" disabled />
    </div>
    <div class="col-md-3">
        <div class="col-md-6">
            <input type="text" class="form-control" title="{{task.PlanDateRange.StartDate | date:'yyyy/MM/dd'}}" ng-model="task.PlanDateRange.StartDate" disabled />
        </div>
        <div class="col-md-6">
            <input type="text" class="form-control" title="{{task.PlanDateRange.EndDate | date:'yyyy/MM/dd'}}" ng-model="task.PlanDateRange.EndDate" disabled />
        </div>
    </div>
    <div class="col-md-3">
        <div class="col-md-5">
            <input type="text" class="form-control" value="{{statuses[task.Status]}}" disabled />
        </div>
        <div class="col-md-4">
            <input class="form-control" ng-model="task.PlanHour" disabled />
        </div>
        <div class="col-md-3"><input class="form-control" data-validation="number" ng-model="task.Value" disabled /></div>
    </div>
    <div class="col-md-2">
        <input class="form-control taskUserId" value="{{getUserName(task.UserId)}}" disabled />
        <label class="taskReview">
            <input type="checkbox" ng-model="task.IsReviewed" disabled />
            <span title="Edit Task" ng-class="task.Class" ng-click="collapseTask(task)" data-toggle="collapse" href="{{'#task-' + task.Id}}" aria-expanded="false" aria-controls="{{'task-' + task.Id}}"></span>
        </label>
    </div>
</div>
<div class="row top-margin collapse taskCollapse" id="{{'task-' + task.Id}}">
    <div class="form-group col-md-12">
        <label for="description">Description</label>
        <textarea type="text" class="form-control" id="description" ng-model="task.Description" spellcheck="false" placeholder="Description"></textarea>
    </div>

    <div class="form-group col-md-12">
        <label for="codeReview">Code Review</label>
        <textarea type="text" class="form-control" id="codeReview" ng-model="task.CodeReview" spellcheck="false" placeholder="Code Review"></textarea>
    </div>

    <div class="form-group col-md-2" ng-repeat="(id, value) in task.Values">
        <div ng-if="value === -1">
            <label for="{{'user-' + id}}">{{id}}({{users[id]}})</label>
            <input class="form-control" id="{{'user-' + id}}" value="*" disabled />
        </div>
        <div ng-if="value !== -1">
            <label for="{{'user-' + id}}">{{id}}({{users[id]}})</label>
            <input class="form-control" id="{{'user-' + id}}" data-validation="number" ng-model="task.Values[id]" />
        </div>
    </div>
</div>