<div class="col-md-1"><span class="searchLabel">Date</span></div>
<div class="col-md-2">
    <div class="input-group">
        <input type="text" class="form-control" datepicker-popup="yyyy/MM/dd" ng-model="after" is-open="isAfterOpen"
               close-text="Close" />
        <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="openAfter($event)">
                <i class="glyphicon glyphicon-calendar"></i>
            </button>
        </span>
    </div>
</div>
<div class="col-md-1 text-center"><span class="searchLabel">To</span></div>
<div class="col-md-2">
    <div class="input-group">
        <input type="text" class="form-control" datepicker-popup="yyyy/MM/dd" ng-model="before" is-open="isBeforeOpen"
               close-text="Close" />
        <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="openBefore($event)">
                <i class="glyphicon glyphicon-calendar"></i>
            </button>
        </span>
    </div>
</div>




