@using Entity.ValueType

@{
    ViewBag.Title = "Report By Performance";
    ViewData["ng-app"] = "reportByPerformance";
}

@section css {
    <link rel="stylesheet" href="~/css/report/reportbyperformance.css" />
}

@section scripts{
    <script type="text/javascript" src="~/lib/bootbox.js/bootbox.js"></script>
    <script type="text/javascript">
        var _pairs = @Html.Raw(Json.Serialize(ViewData["Pairs"]));
    </script>
    <script type="text/javascript" src="~/js/report/reportbyperformance/leader.js" asp-append-version="true"></script>
}

@section breadcrumb{
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="#">Report</a></li>
            <li class="active">Report By Performance</li>
        </ol>
    </div>
}

<div ng-controller="reportByPerformanceCtrl" ng-cloak>
    <div class="row">
        <div class="page-header">
            <div class="row">
                <div class="col-md-11"><h1>Report By Performance</h1></div>
                <div class="col-md-1">
                    <h1><a class="btn btn-default" role="button" data-toggle="modal" data-target="#myModal"><span title="Add a new performance" class="glyphicon glyphicon-plus" aria-hidden="true"></span></a></h1>
                </div>
            </div>
        </div>
    </div>

    @Html.Partial("~/Views/Shared/HeaderMessage.cshtml")

    <div class="row">
        <div class="panel-group" id="performanceItem" role="tablist" aria-multiselectable="true">
            <div class="panel panel-info" ng-repeat="item in items">
                <!-- Default panel contents -->
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-11">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#performanceItem" href="{{'#' + item.Id}}" aria-expanded="true" aria-controls="{{item.Id}}">
                                    {{ item.DateRange.StartDate | timesheetid }} - {{ item.DateRange.EndDate | timesheetid}} 
                                </a>
                            </h4>
                        </div>
                        <div class="col-md-1">
                            <h4 class="panel-title">
                                <span title="Delete Performance" class="glyphicon glyphicon-remove" aria-hidden="true" ng-click="removeItem(item.Id)"></span>
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="collapse in" id="{{item.Id}}">
                    <!-- Table -->
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th rowspan="2" class="col-md-2">Name</th>
                                <th rowspan="2" class="col-md-1">Level</th>
                                <th rowspan="2" class="col-md-1">Ratio</th>
                                <th colspan="4" class="text-center col-md-4">Score</th>
                                <th rowspan="2" class="col-md-4">Comment</th>
                                <th rowspan="2" class="col-md-1">Result</th>
                            </tr>
                            <tr>
                                <th>Raw</th>
                                <th>Standard</th>
                                <th>Outcome</th>
                                <th>Manager</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="(key, value) in item.Values">
                                <td>{{key}}({{pairs[key]}})</td>
                                <td>{{value.Level}}</td>
                                <td>{{item.TimeSheetPercentage}}/{{item.ManagerPercentage}}</td>
                                <td>{{value.TimeSheetValue}}</td>
                                <td>{{value.StandardValue}}</td>
                                <td>{{value.Outcome}}</td>
                                <td>{{value.ManagerValue}}</td>
                                <td>{{value.ManagerComment}}</td>
                                <td>{{value.Result}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Performance</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-3">
                            <label for="startDate">Start Date</label>
                            <div class="input-group">
                                <input type="text" class="form-control" datepicker-popup="yyyy/MM/dd" name="startDate" ng-model="currentItem.DateRange.StartDate" is-open="isStartDateOpen" close-text="Close" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="openStartDate()">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label for="endDate">End Date</label>
                            <div class="input-group">
                                <input type="text" class="form-control" datepicker-popup="yyyy/MM/dd" name="endDate" ng-model="currentItem.DateRange.EndDate" is-open="isEndDateOpen" close-text="Close" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="openEndDate()">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <label for="timeSheetPercentage">绩效百分比</label>
                            <input type="text" class="form-control" id="TimeSheetPercentage" ng-model="currentItem.TimeSheetPercentage" spellcheck="false" />
                        </div>
                        <div class="col-md-2">
                            <label for="ManagerPercentage">其他百分比</label>
                            <input type="text" class="form-control" id="ManagerPercentage" ng-model="currentItem.ManagerPercentage" spellcheck="false" />
                        </div>
                        <div class="col-md-2">
                            <label for="Factor">系数</label>
                            <input type="text" class="form-control" id="Factor" ng-model="currentItem.Factor" spellcheck="false" />
                        </div>

                        <div class="col-md-12 top-margin">
                            <table class="table table-bordered" ng-if="currentItem.Values">
                                <thead>
                                    <tr>
                                        <th rowspan="2" class="col-md-2">Name</th>
                                        <th rowspan="2" class="col-md-1">Level</th>
                                        <th colspan="4" class="text-center col-md-3">Score</th>
                                        <th rowspan="2" class="col-md-5">Comment</th>
                                        <th rowspan="2" class="col-md-1">Result</th>
                                    </tr>
                                    <tr>
                                        <th>Raw</th>
                                        <th>Standard</th>
                                        <th>Outcome</th>
                                        <th>Manager</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="(key, value) in currentItem.Values">
                                        <td>{{key}}({{pairs[key]}})</td>
                                        <td>{{value.Level}}</td>
                                        <td>{{value.TimeSheetValue}}</td>
                                        <td>{{value.StandardValue}}</td>
                                        <td>{{value.Outcome}}</td>
                                        <td><input type="text" class="form-control" ng-model="value.ManagerValue" spellcheck="false" placeholder="评分" /></td>
                                        <td><textarea type="text" class="form-control" rows="3" ng-model="value.ManagerComment" spellcheck="false" placeholder="评语"></textarea></td>
                                        <td>{{value.Result}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" ng-if="isPull" ng-click="pull()">Pull</button>
                    <button type="button" class="btn btn-primary" ng-if="!isPull" ng-click="calculate()">Calculate</button>
                    <button type="button" class="btn btn-primary" ng-click="addItem()">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>
