@using Entity.User
@using Entity.Project
@using Web.Model
@using Platform.Extension
@using Platform.Enum
@using Web.Extension
@using Service.User

@{
    ViewBag.Title = "Report By Performance";
}

@section css {
    <link rel="stylesheet" href="~/css/report/reportbyperformance.css" />
}

@section scripts{
    <script type="text/javascript" src="~/lib/bootbox.js/bootbox.js"></script>
    <script type="text/javascript" src="~/lib/vue/dist/vue.min.js"></script>
    <script type="text/javascript" src="~/lib/vue-resource/dist/vue-resource.min.js"></script>
    <script type="text/javascript" src="~/js/report/reportbyperformance/leader.js" asp-append-version="true"></script>
}

@section breadcrumb{
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="#">Report</a></li>
            <li class="active">Report By Performance</li>
        </ol>
    </div>
}

<div id="performanceItems" v-cloak>
    <div class="row">
        <div class="page-header">
            <div class="row">
                <div class="col-md-11"><h1>Report By Performance</h1></div>
                <div class="col-md-1">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">
                        Add New Performance
                    </button>
                </div>
            </div>
        </div>
    </div>

    @Html.Partial("~/Views/Shared/HeaderMessage.cshtml")

    <div class="row">
        <div class="panel-group" id="performanceItem" role="tablist" aria-multiselectable="true">
            <div class="panel panel-info" v-for="item in items">
                <!-- Default panel contents -->
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-11">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#performanceItem" :href="'#' + item.Id" aria-expanded="true" :aria-controls="item.Id">
                                    {{item.DateRange.StartDate + "-" + item.DateRange.EndDate}}
                                </a>
                            </h4>
                        </div>
                        <div class="col-md-1">
                            <h4 class="panel-title">
                                <span title="Delete Performance" class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </h4>
                        </div>
                    </div>

                </div>
                <div class="collapse in" :id="item.Id">
                    <!-- Table -->
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Level</th>
                                <th>Ratio</th>
                                <th>Score</th>
                                <th>Comment</th>
                                <th>Result</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="row in item.Items">
                                <td>{{row.Status}}</td>
                                <td>{{row.Level}}</td>
                                <td>{{item.TimeSheetPercentage}}/{{item.ManagerPercentage}}</td>
                                <td>
                                    Raw: {{row.TimeSheetValue}}/{{row.StandardValue}}/{{row.Outcome}}<br>
                                    Manager: {{row.ManagerValue}}
                                </td>
                                <td>{{row.ManagerComment}}</td>
                                <td>{{row.Result}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Performance</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="startDate">Start Date</label>
                            <div class="input-group">
                                <input type="text" class="form-control" datepicker-popup="yyyy/MM/dd" name="startDate" ng-model="searchDateRange.StartDate" is-open="isStartDateOpen" close-text="Close" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" @@click="openStartDate()">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="endDate">End Date</label>
                            <div class="input-group">
                                <input type="text" class="form-control" datepicker-popup="yyyy/MM/dd" name="endDate" ng-model="searchDateRange.EndDate" is-open="isEndDateOpen" close-text="Close" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" @@click="openEndDate()">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-2"></div>
                    </div>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Level</th>
                                <th>Ratio</th>
                                <th>Score</th>
                                <th>Comment</th>
                                <th>Result</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="row in item.Items">
                                <td>{{row.Status}}</td>
                                <td>{{row.Level}}</td>
                                <td>{{item.TimeSheetPercentage}}/{{item.ManagerPercentage}}</td>
                                <td>
                                    Raw: {{row.TimeSheetValue}}/{{row.StandardValue}}/{{row.Outcome}}<br>
                                    Manager: {{row.ManagerValue}}
                                </td>
                                <td>{{row.ManagerComment}}</td>
                                <td>{{row.Result}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Calculate</button>
                    <button type="button" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>
