@using Entity.User
@using Entity.Project
@using Web.Model
@using Platform.Extension
@using Platform.Enum
@using Web.Extension
@using Service.User

@{
    ViewBag.Title = "Report By Performance";
}

@section css {
    <link rel="stylesheet" href="~/css/report/reportbyperformance.css" />
}

@section scripts{
    <script type="text/javascript" src="~/lib/bootbox.js/bootbox.js"></script>
    <script type="text/javascript" src="~/lib/vue/dist/vue.min.js"></script>
    <script type="text/javascript" src="~/lib/vue-resource/dist/vue-resource.min.js"></script>
    <script type="text/javascript" src="~/js/report/reportbyperformance/leader.js" asp-append-version="true"></script>
}

@section breadcrumb{
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="#">Report</a></li>
            <li class="active">Report By Performance</li>
        </ol>
    </div>
}

<div class="row">
    <div class="page-header">
        <div class="row">
            <div class="col-md-11"><h1>Report By Performance</h1></div>
            <div class="col-md-1"><h1><a class="btn btn-default" role="button"><span title="Add a new performance" class="glyphicon glyphicon-plus" aria-hidden="true"></span></a></h1></div>
        </div>
    </div>
</div>

@Html.Partial("~/Views/Shared/HeaderMessage.cshtml")

<div class="row" id="performanceItems" v-cloak>
    <div class="panel-group" id="performanceItem" role="tablist" aria-multiselectable="true">
        <div class="panel panel-info" v-for="item in items">
            <!-- Default panel contents -->
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#performanceItem" :href="'#' + item.Id" aria-expanded="true" :aria-controls="item.Id">
                        {{userId + "_" + names[userId]}}
                    </a>
                </h4>
            </div>
            <div class="collapse in" :id="item.Id">
                <!-- Table -->
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Range</th>
                            <th>Name</th>
                            <th>Level</th>
                            <th>Score</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="row in rows">
                            <td>
                                {{row.Text}}
                            </td>
                            <td>{{row.WeekHours}}</td>
                            <td>{{row.Status}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
    Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>