.ol-left-padding-20
{
    padding-left:20px;
}

.flight-report-table
{
	margin-bottom: 20px;
	width: 1860px;
}

.ol-left-padding-4
{
    padding-left:4px;
}

.container
{
	width: auto;
	padding-left: 30px;
	padding-right: 30px;
}

.tr-important{font-Weight : bold;}
#td-col-w30 {max-width: 30px;}
#td-col-w40 {
    max-width: 40px;
}
#td-col-w60 {max-width: 60px;}
#td-col-w80 {
    max-width: 80px;
}
#td-col-w100 {max-width: 100px;}
#td-col-w120 {max-width: 120px;}
#td-col-w160 {max-width: 160px;}
#td-col-w200 {max-width: 200px;}
#td-col-w240 {max-width: 240px;}
