#projects{
    white-space: nowrap;
    table-layout: fixed;
}

tr.projectTr td{
    overflow: hidden;
    text-overflow: ellipsis
}

.st-sort-ascent:before{
    content: '\25B2';
}

.st-sort-descent:before{
    content: '\25BC';
}

.searchLabel{
    height: 34px;
    line-height: 34px !important;
}