@using Entity.User
@using Platform.Enum
@using Web.Extension

@{
    ViewBag.Title = "Reset Password";
    var isAdmin = this.IsAdmin();
    var isManager = this.IsManager();
}

@section css {
    <link rel="stylesheet" href="~/css/user/user.css" />
}

@section scripts {
    <script type="text/javascript" src="~/js/crypto/core-min.js"></script>
    <script type="text/javascript" src="~/js/crypto/md5-min.js"></script>
    <script type="text/javascript" src="~/js/user/resetpassword.js"></script>
}

@section breadcrumb{
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="#">User</a></li>
            <li class="active">Reset Password</li>
        </ol>
    </div>
}

<div class="row">
    <div class="page-header">
        <h1>Reset Password</h1>
    </div>
</div>

<div class="row">
    <form method="post" action="~/User/ResetPassword">
        <div class="row">
            <div class="form-group col-md-12">
                <label for="id">Id</label>
                <input type="text" class="form-control" id="id" name="id" data-validation="length" data-validation-length="5-6" placeholder="id" value="@Html.Raw(ViewData["Id"])" readonly/>
            </div>
        </div>

        @if (isAdmin || isManager)
        {
            <div class="row hide">
                <div class="form-group col-md-12">
                    <label for="rawOldPassword">Old Password</label>
                    <input type="password" class="form-control" id="rawOldPassword" name="rawOldPassword" placeholder="old password" />
                </div>
            </div>
        }
        else
        {
            <div class="row">
                <div class="form-group col-md-12">
                    <label for="rawOldPassword">Old Password</label>
                    <input type="password" class="form-control" id="rawOldPassword" name="rawOldPassword" data-validation="length" data-validation-length="min3" placeholder="old password" />
                </div>
            </div>
        }

        <div class="row">
            <div class="form-group col-md-12">
                <label for="rawNewPassword">New Password</label>
                <input type="password" class="form-control" id="rawNewPassword" name="rawNewPassword" data-validation="length" data-validation-length="min3" placeholder="new password" />
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-12">
                <label for="confirmPassword">Confirm Password</label>
                <input type="password" class="form-control" id="confirmPassword" data-validation="confirmation" data-validation-confirm="rawNewPassword" placeholder="new password">
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="pull-right">
                    <button type="submit" class="btn btn-success">Submit</button>
                    <button type="reset" class="btn btn-default left-margin">Reset</button>
                </div>
            </div>
        </div>

        <input type="hidden" name="oldPassword" id="oldPassword" />
        <input type="hidden" name="newPassword" id="newPassword" />
    </form>
</div>
